<h2>Update the drone</h2>
<form action="/drones/{{drone._id}}/edit"  method="POST">
<label>
  Name
  <input type="text" name="name" value="{{drone.name}}">
</label>
<label>
  Propellers
  <input type="number" name="propellers" value={{drone.propellers}}>
</label>
<label>
  MaxSpeed
 <input type="number" name="maxSpeed" value={{drone.maxSpeed}}>
</label>
<label>
  <button type="submit">Edit</button>
</label>